// RESET
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

// Overflow, font 
body,
html {

    overflow-x: hidden;

    font-family: 'Barlow Condensed', sans-serif;

}

header {

    & nav {

        text-align: right;

        & a {

            display: inline-block;
            color: inherit;
            text-decoration: inherit;

            font-size: 30px;
            font-weight: 600;

            margin: 0.5em 2em 0 0;
        }

    }

}